<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mortgage-Backed Securities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-table.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
  <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
  <script>
   $(function(){ $("head").load("header.html") });
   </script> 
</head>
<body>
<script>
var options = {
  colors:[['#008000','#00FF00', '##32CD32', '##6B8E23', '##808000', '#CEC6CE', '##FF4500', '##FF0000']]
}
$(function () {
$('#table').bootstrapTable({
    data:[
                    {
                id: 123,
                bnkName: "ABN",
                crdrt:1
            },
            {
                id: 456,
                bnkName: "HSBCBAN",
                crdrt: 6
            },
            {
                id: 789,
                bnkName: "ECB",
                crdrt: 7
            }
    ]
 });
});
$(function () {
$('#colorpalette4').colorPalette(options)
  .on('selectColor', function(e) {
    $('#selected-color3').val(e.color);
  });
});
$(function () {
$('#colorpalette4').colorPalette(options)
  .on('selectColor', function(e) {
    $('#selected-color3').val(e.color);
  });
});
</script>
<div id = "header"/>
<div class ="container"><h3>Investor Review Page</h3>
<table id = "table">
    <thead>
    <tr>
        <th data-field="id">Account Number</th>
        <th data-field="bnkName">Bank Name</th>
        <th data-field="crdrt">Credit Rating</th>
        <th data-checkbox="true"></th>
    </thead>
</table>
<p align="center">
 <button type="submit" class="btn btn-primary btn-sm" style="background-color:#145A32">Accept</button>
 <button type="submit" class="btn btn-primary btn-sm" style="background-color:#ff0000">Reject</button>
 </p>
</div>
</body>
</html>
