<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mortgage-Backed Securities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-table.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
  <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
   <script>
   $(function(){ $("head").load("header.html") });
   </script>
</head>
<body>
<div class="jumbotron text-center">
 <div class="container">
<img style="float:left" src="/home/vincent/Workspace/src/github.com/hyperledger-hackathon/MBS_BC_logo.png" class="img-rounded" alt="Cinque Terre" width="200" height="200">
  <h2>Mortgage-Backed Securities</h2>
  <h3 style="margin-left: 240px">..Simple..Transparent..Trustworthy</h3>
 </div>
</div>
<script>
$(function () {
$('#table').bootstrapTable({
    data:[
                        {
                                loanAccNum: 123,
                loanAmt: "499,000 EUR",
                                assetID: "N545840959CSC24056",
                                roi:"3 %",
                bsn: "N24056",
                                appCR:"1",
                tenor:"1(yr)",
                                fins:"HSBCBAN"
            },
            {
                loanAccNum: 456,
                loanAmt: "990,450 EUR",
                               assetID: "N545840959ASD24017",
                                roi:"1 %",
                bsn: "C77644",
                                appCR:"5",
                tenor:"3(yr)",
                                fins:"CITI"
            },
            {
                                loanAccNum: 789,
                loanAmt: "120,500 EUR",
                                assetID: "N54584095BXY248211",
                                roi:"4 %",
                bsn: "N32194",
                                appCR:"7",
                tenor:"5(yr)",
                                fins:" UBS"
            },
            {
                                loanAccNum: 340,
                loanAmt: "950,200 EUR",
                                assetID: "N546985695BXY24823",
                                roi:"2 %",
                bsn: "N59267",
                                appCR:"8",
                tenor:"1(yr)",
                                fins:" UBS"
            },
            {
                                loanAccNum: 592,
                loanAmt: "221,600 EUR",
                                assetID: "N546945695BXY24872",
                                roi:"3.5 %",
                bsn: "N59267",
                                appCR:"7",
                tenor:"3(yr)",
                                fins:" UBS"
            }
    ]
 });
});
</script>
<div id = "header"/>
<div class ="container"><h3>Mortgage Details</h3>
<table class = "table" id = "table">
    <thead>
    <tr>
        <th data-field="loanAccNum">Loan Account Number</th>
        <th data-field="loanAmt">Loan Amount</th>
                <th data-field="assetID">Asset ID</th>
        <th data-field="roi">Rate of Interest</th>
        <th data-field="bsn">BSN #</th>
        <th data-field="appCR">Applicant Credit Score</th>
        <th data-field="tenor">Tenor</th>
        <th data-field="fins">Financial Institution</th><!--DROP DOWN-->
        <th data-checkbox="true"></th>
                <th>Securitize?</th>
    </thead>
</table>
<p align="center">
<form method="post" action="finReviewPg.html" id="form"><button type="submit" class="btn btn-default">Submit</button></form>
</p>
</div>
<footer id="document-footer" class="container full">
<div id="document-footer-content" align="center">
<nav>
<ul>
<li><a href="/about-us" target="_blank">About us</a></li>
<li><a href="/terms-conditions" target="_blank">Terms and conditions</a></li>
<li><a href="/privacy-policy" target="_blank">Privacy policy</a></li>
<li><a href="/Disclaimer" target="_blank">Disclaimer</a></li>
</ul>
</nav>
<p class="vcard copyright">&copy;
<span class="adr">
<span class="fn org">
<span class="organisation-name">2016 Mortgage-Backed Securities</span> </span>
</span>. All rights reserved. </p>
</div>
</footer>
</body>
</html>
